#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.backgroundImage {
  width: 100%;
}


.input-container-3column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* This sets the gap between grid items */
  width: 100%;
  padding: 5px; 
}

.input-container-4column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* This sets the gap between grid items */
  width: 100%;
  padding: 5px; 
}

.input-item {
  width: 100%; /* Full width of the column */
  /* You can add additional styling here if needed */
}

.input-container-2column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* This sets the gap between grid items */
  width: 100%;
  padding: 5px; /* Adjust padding as needed */
}

.input-container-1column {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 10px; /* This sets the gap between grid items */
  width: 100%;
  padding: 5px; /* Adjust padding as needed */
}
